body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

header {
    background-color: #6ccd8c;
}

header h1 {
    padding-top: 5px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

header h1 .titleBar {
    color: #d9dcd6;
}

header nav {
    padding-top: 10px;
    float: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin-right: 25px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow-x: auto; /* Horizontal scroll bar */
    overflow-y: auto; /* Vertical scroll bar */
}

.calendar {
    display: flex;
    flex-wrap: wrap;
}

.calendar .day {
    width: calc(100% / 7);
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.calendar .day h3 {
    margin-top: 0;
}

.calendar .activity {
    margin-top: 10px;
}

.calendar .activity p {
    margin: 0;
    line-height: 1.5;
}

.shadowbox {
    width: 100%;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  }